
<form class="formTag" validate #form="ngForm"  autocomplete="on">
    <div class="main">
        <div class="container">

        <div class="heading">
            <h2>Login to your account</h2>
        </div>
        <div class="email">
            <label for="email" placeholer="Enter your email">Email</label><br>
            <input #fName="ngModel" autocomplete="email" name="email" [(ngModel)]="loginPage.email" type="email" required>
        </div>
        <div class="Dcolor">
            @if(fName.touched && fName.errors?.['required']){
                <span>This is required</span>
            }
        </div>
        <div class="password">
            <label for="password">Password</label><br>
            <input #pName="ngModel" autocomplete="current-password" name="password" [(ngModel)]="loginPage.password" type="password" required minlength="3">
        </div>
        <div class="Dcolor">
            @if(pName.touched && pName.errors?.['required']){
                <span>This is required</span>
            }
            @else if(pName.touched && pName.errors?.['minlength']){
                <span>length should be more than 3</span>
            }
        </div>
        <div class="btn">
            <button class="login-btn" (click)="login()">Login</button>
        </div>
        <div class="registration">
            <a class="regi"  (click)="regi()">Register</a>
        </div>
        </div>
    </div>
</form>
{{loginPage | json}}

