<div class="d-flex ">
    <div class="sort d-flex justify-content-between"
        style="width: 100%; height: 6vh; border: 1px solid black; padding: 6px;">
        <div>
            <form autocomplete="off">
                <label for="name">Name</label>
                <input type="text" name="name" style="width: 100px; height: 25px;" (change)="onChange($event)"
                    [(ngModel)]="CproductList.name">
            </form>
        </div>
        <div>
            <label for="SortBy">SortBy</label>
            <select name="SortBy" (change)="onChange($event)" [(ngModel)]="CproductList.sortBy">
                <option *ngFor="let ele of SortByList" [value]="ele.value">{{ele.label}}</option>
            </select>
        </div>
        <div>
            <label for="SortByLimit">Page Limit</label>
            <select name="pagelimit" (change)="onChange($event)" [(ngModel)]="CproductList.limit">
                <option *ngFor="let ind of SortBylimit" [value]="ind">{{ind}}</option>
            </select>
        </div>
        <div>
            <label for="TotalPage">TotalPage</label>
            <select name="TotalPage" (change)="onChange($event)" [(ngModel)]="CproductList.page">
                <option *ngFor="let num of TotalPage" [value]="num">{{num}}</option>
            </select>
        </div>
        <button style="font-size: 13px; width: 80px; height: 25px; padding: 2px;" class="btn btn-primary"
            (click)="clearAll()">Clear All</button>
    </div>
</div>
<div class="displayProducts" >
    <table>
        <thead class="heading">
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>modify Button</th>
            </tr>
        </thead>
        <tbody>
            <!-- (click)="onRowClick(prod)" -->
            <tr  *ngFor="let prod of Cuser">
                <td><img *ngIf="prod.images.length>0" [src]="prod.images[0].url" alt="" style="height: 200px; width: 150px;"></td>
                <td>{{prod.name}}</td>
                <td>{{prod.description}}</td>
                <td>{{prod.price}}</td>
                <td>
                    <ul style="list-style: none;">
                        <li>
                            <button>Modify Product</button>
                        </li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>

</div>
