<div class="d-flex ">
    <div class="sort d-flex justify-content-between"
        style="width: 100%; height: 6vh; border: 1px solid black; padding: 6px;">
        <div>
            <form autocomplete="off">
                <label for="name">Name</label>
                <input type="text" name="name" style="width: 100px; height: 25px;" (change)="onChange($event)"
                    [(ngModel)]="productList.name">
            </form>
        </div>
        <div>
            <label for="SortBy">SortBy</label>
            <select name="SortBy" (change)="onChange($event)" [(ngModel)]="productList.sortBy">
                <option *ngFor="let ele of SortByList" [value]="ele.value">{{ele.label}}</option>
            </select>
        </div>
        <div>
            <label for="SortByLimit">Page Limit</label>
            <select name="pagelimit" (change)="onChange($event)" [(ngModel)]="productList.limit">
                <option *ngFor="let ind of SortBylimit" [value]="ind">{{ind}}</option>
            </select>
        </div>
        <div>
            <label for="TotalPage">TotalPage</label>
            <select name="TotalPage" (change)="onChange($event)" [(ngModel)]="productList.page">
                <option *ngFor="let num of TotalPage" [value]="num">{{num}}</option>
            </select>
        </div>
        <button style="font-size: 13px; width: 80px; height: 25px; padding: 2px;" class="btn btn-primary"
            (click)="clearAll()">Clear All</button>
    </div>
</div>


<!-- Product Creation -->
<div style="width: 100%; height: 70vh; overflow: scroll;">
    <div class="d-flex justify-content-end">
        <button (click)="showDialog()">Create Product</button>
    </div>

    <div class="card flex justify-center">
        <p-dialog header="Create Product" [modal]="true" [(visible)]="visible" [style]="{ width: '55rem' }">
            <div style="display: flex;">
                <div class="left">
                    <div>
                        <div *ngFor="let img of imageUrls" class="ImageArray">
                            <img (click)="onClickImage(img)" class="displayImg" [src]="img" alt="Not diplaying">
                        </div>
                    </div>

                    <div style="margin-left: 10px; width: 80%; height: 100%; margin-top: 0px;">
                        <img *ngIf="ClickedImage" style="height: 280px; width: 355px;" [src]="ClickedImage" alt="">
                    </div>
                </div>

                <div style="margin-left: 10px; width: 50%; height: 100%; border: 1px solid rgb(241, 241, 241); ">
                    <label for="productname">Name:</label>
                    <input type="text" [(ngModel)]="prodName"><br>
                    <label style="margin-top: 5px;" for="productFile">Image:</label>
                    <input style="margin-top: 5px;" type="file" (change)="onFileUpload($event)" multiple><br>
                    <label style="margin-top: 5px;" for="price">Price:</label>
                    <input style="margin-top: 5px;" type="number" [(ngModel)]="prodPrice"><br>
                    <label style="margin-top: 5px;" for="productdescription">Description:</label><br>
                    <p [innerHTML]="prodDescription"></p>
                    <!-- <input type="text" [(ngModel)]="prodDescription"><br> -->
                    <div class="card">
                        <p-editor [(ngModel)]="prodDescription" [style]="{ height: '100px',backgroundColor:'red',}" />
                    </div>
                </div>
            </div>
            <div class="flex justify-end gap-2">
                <p-button label="Cancel" severity="secondary" (click)="visible = false" />
                <p-button label="Save" (click)="handleCreateProduct()" (click)="visible = false" />
            </div>
        </p-dialog>
    </div>




    <div class="displayProducts">        
            <div *ngFor="let prod of Puser" (click)="getInfo(prod)" class="product-item">
              <!-- Product Image -->
              <div>
                <img style="width: 200px; height: 200px; margin-left: 15px;" *ngIf="prod.images.length > 0" [src]="prod.images[0].url" alt="" (click)="onImageClick(prod)">
              </div>
              
              <!-- Product Name -->
              <p class="product-name" style="margin: 0 auto 0 auto; font-weight: bold;">{{ prod.name }}</p>
              
              <!-- Product Description -->
              <p class="product-description" style="margin-top: 30px; width: 100%;"  [innerHTML]="prod.description"></p>
              
              <!-- Product Price -->
              <div class="product-price">
                <span style="font-weight: 490;">Price: </span>
                <span style="font-weight: bold;">{{ prod.price }}</span>
              </div>
            </div>
          
    </div>
</div>



<!-- Updating One Product -->


