<nav class="mainNav">
    <div class="navbar">
        <div class="heading">
            <h1>Nex<span id="headingName">Mart</span> <span><img class="headingimg" src="img/shopping-cart-309592_1280.webp" alt=""></span></h1>
        </div>
        <div class="Horbar">
            @if(isCurrentRouteCustomer){
                <a routerLink="/seller/profile/products">Home</a>
                
                <a routerLink="/seller/profile/users">Users</a>
                <a routerLink="/seller/orderdetails">Extra</a>

            }
            @else {
                <a routerLink="/">Home</a>
                <a routerLink="order/orderdetails">Extra</a>
            }
        </div>
        <div>
            @if(isCurrentRouteCustomer){
                <a routerLink="/seller/profile/changePass">Settings</a>
            }
        </div>
        <div>
            @if(isCurrentRouteCustomer){
                <a routerLink="/profile/auth/reset-password?">Reset Password</a>
            }
        </div>
        <div>
            @if(isCurrentRouteCustomer){
                <a routerLink="/verifyaccount">Verify Account</a>
            }
        </div>
        <div class="navBtn">
            @if(!isCurrentRouteCustomer){
                <a routerLink="/auth/cart" style="margin-right: 70px;"><i style="font-size: 25px;" class="fas fa-shopping-cart"></i></a>

            }
            <button class="profile" (click)="openProfile()"><img class="openprofile" src="img/download.jpeg" alt=""></button>
            <!-- <button class=" btn btn-primary">Profile</button> -->
        </div>
    </div>
    <div *ngIf="issideclose" class="leftside" (click)="closeDiv()">
        <div class="sidebar">
            <div class="sideimg">
                <img class="cloud" src="img/download.jpeg" alt="">
            </div>
            <div>
                <p style="width: 100%; height: 1px; background-color: #d4d4d4; margin: 10px 0;"></p>
                <div>
                    @if(isCurrentRouteCustomer){
                        <a routerLink="/seller/profile/myprofile">My Profile</a>
                    }
                    @else{
                        <a (click)="CustProfile()" >My Profile</a>
                    }
                </div>
                <div>
                    <a routerLink="/cust/settings">Settings</a>
                </div>
                <div>
                    <a >Contact</a>
                </div>
                <div>
                    @if(isCurrentRouteCustomer){
                        <a (click)="Logoutbtn()">Log Out</a>
                    }
                    @else{
                        <a (click)="LogoutCbtn()">Log Out</a>
                    }
                </div>
            </div>
            <div>
                <div class="copyright">
                    Copyright ©2019 All rights reserved | This template is made with by 
           
                </div>
            </div>
        </div>

    </div>

</nav>
<!-- <router-outlet></router-outlet> -->