<div class="userlist">
    <div class="sort d-flex" style="width: 100%; height: 10vh; border: 1px solid black;">
        <div style="margin-left: 40px;">
            <label for="name">Name</label>
            <input style="width: 100px; height: 25px; margin-top: 10px;" (change)="onChange($event)" [(ngModel)]="userList.name" type="text">
        </div>
        <div style="margin-left: 40px; margin-top: 10px;">
            <label for="SortBy">SortBy</label>
            <select name="SortBy" (change)="onChange($event)" [(ngModel)]="userList.SortBy">
                <option *ngFor="let ele of SortByList" [value]="ele.value">{{ele.label}}</option>
            </select>
        </div>
        <div style="margin-left: 40px; margin-top: 10px;">
            <label for="SortByRole">Role</label>
            <select name="Role" (change)="onChange($event)" [(ngModel)]="userList.role">
                <option *ngFor="let rol of SortByRole" [value]="rol.value">{{rol.label}}</option>
            </select>
        </div>
        <div style="margin-left: 40px; margin-top: 10px;">
            <label for="SortByLimit">Page Limit</label>
            <select name="pagelimit" (change)="onChange($event)" [(ngModel)]="userList.limit">
                <option *ngFor="let ind of SortBylimit" [value]="ind">{{ind}}</option>
            </select>
        </div>
        <div style="margin-left: 40px; margin-top: 10px;">
            <label for="TotalPage">TotalPage</label>
            <select name="TotalPage" (change)="onChange($event)" [(ngModel)]="userList.page">
                <option *ngFor="let num of TotalPage" [value]="num">{{num}}</option>
            </select>
        </div>
        <div>
            <button style="margin-left: 40px; margin-top: 10px; width: 80px; height: 30px;" class="btn btn-primary" (click)="clearAll()">Clear All</button>
        </div>
    </div>
    <div class="users">
        <table>
            <thead class="heading">
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>isEmailVerified</th>
                    <th>Modify Info</th>
                </tr>
            </thead>
            <tbody >
                <!-- <tr>{{user.name}}</tr> 
                <tr>{{user.email}}</tr>
                <tr>{{user.role}}</tr>
                <tr>{{user.password}}</tr> -->
                <tr *ngFor="let user of Duser">
                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.role}}</td>
                    <td>{{user.isEmailVerified}}</td>
                    <td><ul>
                        <li><button >Modify Data {{user._id}}</button>
                        <div>
                            <ul>
                                <li><button (click)="modifyUserInfo(user._id)">Modify User Info</button>
                                <div>
                                    <label for="name">Name</label>
                                    <input type="text" [(ngModel)]="updateUser.name">
                                    <label for="email">Email</label>
                                    <input type="text" [(ngModel)]="updateUser.email">
                                    <label for="Password">Password</label>
                                    <input type="password" [(ngModel)]="updateUser.password">
                                    <button (click)="modifyUser(user._id)">Submit</button>
                                </div></li>
                                <li><button>Update User Role</button>
                                <div>
                                    <select name="role" [(ngModel)]="selectedValue.role">Select Role
                                        <option *ngFor="let option of options" [value]="option.value">{{option.label}}</option>                                    </select>
                                    <button (click)="modifyUserRole(user._id)">submit</button>
                                </div></li>
                                <li><button (click)="deleteUser(user._id)">Delete User</button></li>
                            </ul>
                        </div>
                    </li>
                    </ul></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- <app-popup></app-popup> -->
<div class="createUser">
    <label for="name">Name</label>
    <input type="text" [(ngModel)]="addUser.name" placeholder="Enter Your Name">
    <label for="email">Email</label>
    <input type="email" [(ngModel)]="addUser.email" placeholder="Enter Your email">
    <label for="name">Password</label>
    <input type="password" [(ngModel)]="addUser.password" placeholder="Enter Your password">
    <label for="name">Role</label>
    <input type="text" [(ngModel)]="addUser.role" placeholder="Enter Your role">
</div>
<button (click)="createUser()">Add User</button>
<!-- Button trigger modal -->





<!-- modal-title -->
 <!-- Button trigger modal -->

  


