<div class="userlist">
    <h2>List of Users</h2>
    <div class="users">
        <table>
            <thead class="heading">
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>isEmailVerified</th>
                    <th>Modify Info</th>
                </tr>
            </thead>
            <tbody >
                <!-- <tr>{{user.name}}</tr> 
                <tr>{{user.email}}</tr>
                <tr>{{user.role}}</tr>
                <tr>{{user.password}}</tr> -->
                <tr *ngFor="let user of Duser">
                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.role}}</td>
                    <td>{{user.isEmailVerified}}</td>
                    <td><ul>
                        <li><button >Modify Data {{user._id}}</button>
                        <div>
                            <ul>
                                <li><button (click)="modifyUserInfo(user._id)">Modify User Info</button>
                                <div>
                                    <label for="name">Name</label>
                                    <input type="text" [(ngModel)]="updateUser.name">
                                    <label for="email">Email</label>
                                    <input type="text" [(ngModel)]="updateUser.email">
                                    <label for="Password">Password</label>
                                    <input type="password" [(ngModel)]="updateUser.password">
                                    <button (click)="modifyUser(user._id)">Submit</button>
                                </div></li>
                                <li><button>Update User Role</button>
                                <div>
                                    <select name="role" [(ngModel)]="selectedValue.role">Select Role
                                        <option *ngFor="let option of options" [value]="option.value">{{option.label}}</option>                                    </select>
                                    <button (click)="modifyUserRole(user._id)">submit</button>
                                </div></li>
                                <li><button (click)="deleteUser(user._id)">Delete User</button></li>
                            </ul>
                        </div></li>
                    </ul></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="createUser">
    <label for="name">Name</label>
    <input type="text" [(ngModel)]="addUser.name" placeholder="Enter Your Name">
    <label for="email">Email</label>
    <input type="email" [(ngModel)]="addUser.email" placeholder="Enter Your email">
    <label for="name">Password</label>
    <input type="password" [(ngModel)]="addUser.password" placeholder="Enter Your password">
    <label for="name">Role</label>
    <input type="text" [(ngModel)]="addUser.role" placeholder="Enter Your role">
</div>
<button (click)="createUser()">Add User</button>
