.main{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    width: 100%;
    height: 70vh;
}
.center{
    margin-left: 80px;
    border: 1px solid black;
    width: 60%;
    /* padding-left: 20px; */
}
.heading{
    border: 1px solid black;
    padding-left: 20px;
}
.Info{
    padding-left: 20px;
}
.logout{
    margin-left: 20px;
}
.updateInfo{
    display: block;
}
table{
    width: 100%;
    border-collapse: collapse;
}

th,td{
    border: 1px solid black;  /* Adds a 1px solid black border to each table cell */
    padding: 8px;  /* Adds padding inside each cell for spacing */
    text-align: left;

}
.users{
    width: 100%;
    height: 40vh;
    overflow: scroll;
    
}