<nav class="navbar">
    <div class="heading"><h1>Nex<span id="headingName">Mart</span></h1></div>
    <div class="sidebar">
        <a>Home</a>
        <!-- <a>Users</a> -->
        <a routerLink="/users">Users</a>
        <a>Extra</a>
    </div>
    <div class="navBtn" >
        <button class="profile" (click)="myprofile()">Profile</button>
        <!-- <button class=" btn btn-primary">Profile</button> -->
        <button class="btn btn-danger btn-sm" style="margin-left: 20px;" id="btn" (click)="Logoutbtn()">Logout</button>
    </div>
</nav>
<!-- <router-outlet></router-outlet> -->