.navbar{
    width: 100%;
    height:15vh;
    border-bottom: 2px solid black;
    display: flex;
    align-items:center;
    position:sticky;

}
.heading{
    margin-left: 100px;
}
#headingName{
    color: hsl(224, 82%, 57%);
}
.sidebar{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}
.sidebar p{
    padding-left: 60px;
}
.profile{
    margin-right: -250px;
    border: 1px solid black;
    padding: 0px 2px;
    cursor: pointer;
    border-radius: 3px;
    background-color: hsl(224, 82%, 60%);

}
.profile p{
    margin: 0 auto 0 auto;
    padding: 2px 2px;
    font-size: 15px;
    color: white;
}
.profile:hover{
    background-color: hsl(224, 82%, 50%);
}
#btn{
    margin-left: 80px;
}