<nav class="navbar">
    <div class="heading"><h1>Nex<span id="headingName">Mart</span></h1></div>
    <div class="sidebar">
        <p>Home</p>
        <!-- <a>Users</a> -->
        <a routerLink="/users">Users</a>
        <p>Extra</p>
    </div>
    <div class="profile">
        <p (click)="myprofile()">My Profile</p>
    </div>
    <div>
        <button class="btn btn-danger btn-sm" style="margin-right:80px;" id="btn" (click)="Logoutbtn()">Logout</button>
    </div>
</nav>
<!-- <router-outlet></router-outlet> -->