<div class="main">
    <div class="center">
        <div class="heading">
            <p style="margin-left: 50px; font-size: 20px; font-weight: bold;">User Profile</p>

        </div>
        <div class="secondhalf" style="margin-left: 180px;">
            <div class="Info">
                <h3 style="font-size: 25px; margin-bottom: 20px;">{{this.user?.name}}</h3>
                <p style="font-size: 17px; font-weight: 400; margin-top: -15px;">software Developer
                <p>
                <p>User Email: {{user?.email}}</p>
                <p>Role: {{user?.role}}</p>
                <p>Company Name:{{user?._org.name}}</p>
                <p>Company Email:{{user?._org.email}}</p>
            </div>
            <div class="btn">
                <button class="updateInfo" style="margin-left: -68px;" (click)="updateCompanyInfo()">Update
                    Profile</button>
                <button class="logout" (click)="logOut()" style="margin-left: 20px;">LogOut</button>
            </div>
        </div>

    </div>
    <div>
        <label for="email">Email</label>
        <input type="email" [(ngModel)]="updateInfo.email" placeholder="Enter your Name"><br>
        <label for="name">Company Name</label>
        <input type="email" placeholder="Enter Your Email" [(ngModel)]="updateInfo.name"><br>
        <button (click)="submit()">Submit</button>
    </div>
    <!-- {{user | json}} -->
</div>