.headingimg{
    height: 30px;
    width: 50px;
}
.main{
    width: 100%;
    height: 87vh;
    margin-top: 40px;
    display: flex;
}
.heading{
    margin-left: 100px;
}
.Dcolor{
    width: 250px;
    height: 20px;
    font-size: 13px;
    color: red;
}
.login{
    width: 210px;
    margin-left: -13px;
    background-color: #4cc9f0;
    border: 1px solid black;
}
.regi{
    margin-left: 30px;
    margin-top: 10px;
}